packages: [
  "activate-power-mode"
  "all-hallows-eve-syntax"
  "atom-material-contrast-syntax"
  "atom-material-numix-syntax"
  "atom-material-syntax"
  "atom-material-syntax-light"
  "atom-material-ui"
  "atom-monokai"
  "atom-prettify"
  "autocomplete-elixir"
  "elm-format"
  "esformatter"
  "file-browser"
  "file-icons"
  "language-elixir"
  "language-elm"
  "material-monokai-syntax"
  "material-syntax"
  "merge-conflicts"
  "monokai-blackboard"
  "monokai-slate"
  "motepair"
  "open-in-browser"
  "package-sync"
  "pigments"
  "project-manager"
  "react-snippets"
  "todo-show"
  "vim-mode"
  "vim-mode-plus"
]
